/*
--------------------------------------------------------------------------
* loading screen
--------------------------------------------------------------------------
*/

* {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
    background-color: #1a1a1a;
    text-align: center;
}

#logo {
    width: 50%;
    max-height: 50vh;
    height: auto;
}

#title {
    font-size: 72px;
    color: white;
    height: auto;
    max-height: 20vh; 
}

#comming-soon {
    color: white;
    font-size: 36px;
    height: auto;
    max-height: 10vh; 
}

/*****responsive*****/
@media screen and ( max-width: 1000px ){
    #title {
        font-size: 48px;
    }
}
@media screen and ( max-width: 600px ){
    #title {
        font-size: 36px;
    }
}
